---
layout: default
title: Home
permalink: /
---
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="/assets/images/avataaars.svg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
        {% include icon_divider.html light=true %}
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</header>

<!-- Portfolio Section-->
{% capture portfolio_content %}
<div class="portfolio row justify-content-center">
    {% include portfolio_item.html imgsrc="/assets/images/portfolio/cabin.png" text="Item 1" %}
    {% include portfolio_item.html imgsrc="/assets/images/portfolio/cake.png" text="Item 2" %}
    {% include portfolio_item.html imgsrc="/assets/images/portfolio/circus.png" text="Item 3" %}
    {% include portfolio_item.html imgsrc="/assets/images/portfolio/game.png" text="Item 4" %}
    {% include portfolio_item.html imgsrc="/assets/images/portfolio/safe.png" text="Item 5" %}
    {% include portfolio_item.html imgsrc="/assets/images/portfolio/submarine.png" text="Item 6" %}
</div>
{% endcapture %}
{% include section.html id="portfolio" title="Portfolio" content=portfolio_content %}

<!-- About Section-->
{% capture about_content %}
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                <i class="fas fa-download me-2"></i>
                Free Download!
            </a>
        </div>
{% endcapture %}
{% include section.html color=true id="about" title="About" content=about_content %}

<!-- Contact Section-->
{% capture contact_content %}
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
            </div>
        </div>
{% endcapture %}
{% include section.html id="contact" title="Contact" content=contact_content %}
