<section class="page-section {% if include.color %}bg-primary text-white{% endif %}" id={{include.id}}>
    <div class="container">
        {% unless include.title == %}
            <h2 class="page-section-heading text-center text-uppercase {% if include.color %}text-white{% else %}text-secondary{% endif %}">{{include.title}}</h2>
            {% if include.color %}
            {% include icon_divider.html light=true %}
            {% else %}
            {% include icon_divider.html %}
            {% endif %}
        {% endunless %}
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                {{ include.content }}
            </div>
        </div>
    </div>
</section>
