ul.calendar {
    list-style-type: none;
}

a.link-on-bg {
  color: var(--bs-highlight-bg);
}
a.link-on-bg:hover {
  color: var(--bs-link-hover-color);
}

.youtube-embed {
    width: 100%;
    aspect-ratio: 16/9;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 3rem;
}

.nav-link {
    padding-top: .2rem;
    padding-bottom: .2rem;
}
.nav-link.active {
    padding-left: .4rem !important;
    padding-right: .4rem !important;
}
